body{
  background-color: black !important;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
i{
  font-size: 30px;
}
#quote-box{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  border-radius: 10px;
}
#text{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: oblique;
}
#author{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: end;
}
#new-quote{
  width: 150px;
  height: 50px;
  align-self: flex-end;
  border-radius: 10px;
  background-color: cadetblue;
  font-weight: bold;
}
